<p>Dear <%= name %>,</p>
<p>
  Thanks for signing up for Nice App. We're very excited to have you on board.
</p>

<p>Here are your account details:</p>
<ul>
  <li>Email: <%= mail %></li>
  <li>Login URL: <%= loginUrl %></li>
</ul>

<p>Thanks!</p>
<p>NestJs Blog Support</p>
